# import from Dockerfile
BUILD_COMMIT_TAG=v0.0.0-local
BUILD_COMMIT_SHA=0000000000000000000000000000000000000001

# 服務名稱（用於 OTel trace resource）
SERVICE_NAME=GatewayTemplate

# jaeger (optional)
JaegerCollector_Host=http://127.0.0.1
JaegerCollector_OTLPHttpPort=4318


# local only
